@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:700,800&display=swap');

.navbar .home-link .site-name
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;

*
  word-break keep-all
